<!--  Replace menu links here -->

<li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/categories.html#wordpress">WordPress</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/categories.html#java">Java</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/categories.html#sql">SQL</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/categories.html#rust">Rust</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/categories.html#elixir">Elixir</a>
</li>